@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  min-width: 320px;
  /* background: orange; */
}

aside,
nav,
footer,
header,
section {
  display: block;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}
a:hover {
  color: lightgrey;
  transition: 0.5s ease-in-out;
}

span {
  color: black;
  transition: 0.5s ease-in-out;
}
span:hover {
  color: lightgray;
  transition: 0.5s ease-in-out;
}

body {
  /* width: 100%; */
  min-width: 320px;
  /* max-height: 100%; */
  user-select: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  /* position: relative; */
  /* overflow: hidden; */
}

/* body::before {
  content: "";
  position: absolute;
  background: center center / cover url(./assets/images/background-image.jpg)
    no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
} */
input,
textarea {
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  padding: 3px 20px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;

  transition: 1s ease-in-out;
}
input::placeholder,
textarea::placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}
input:hover,
input:focus,
textarea:hover,
textarea:focus {
  border: 2px solid #000000;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  overflow: hidden;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  /* background: yellowgreen; */
}
.logo {
  text-align: right;
  padding: 15px 15px 15px 0;
}
.logo__top {
  font-family: 'DM Serif Display', serif;
}
.logo__bottom {
  font-size: 21px;
  font-weight: 400;
  margin-top: -10px;
}
.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 15px 15px;
  cursor: pointer;
}
.cart__icon,
.cart__amount,
.cart__currency{
  padding: 5px;
}
.cart__icon {
  width: 30px;
  height: auto;
}

.main {
  flex: 1 0 auto;
  /* background: pink; */
}

.footer {
  /* background: azure; */
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}
